src/main/mule/tryjenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6b3d207a-b4f0-47cd-a3f4-56a097a2bdbd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="tryjenkinsFlow" doc:id="de454782-7fa9-4e58-8a94-12319196c390" >
		<http:listener doc:name="Listener" doc:id="4194d102-b604-47e9-a0ba-97b06d9e9008" config-ref="HTTP_Listener_config" path="/tryjenkins"/>
		<ee:transform doc:name="Transform Message" doc:id="edcbf026-25fa-482d-a819-e19da26085fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"this is the message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3df76960-bf06-4363-b5ed-ec3c368097d4" message="#[payload]"/>
	</flow>
</mule>
